.ycm_extra_conf.py
*.swp
log.log
_build/
build/

.config
*.o
*.pyc

build
sdkconfig
sdkconfig.old

TEST_LOGS

*.gcda
*.gcno
coverage.info
coverage_report/

#private google cloud iot configs
client_cfg.h
.vscode
#auto generated headers from cmake
third_party/libjwt/config.h
